table.table td, table.table th {
    padding-top: 10px;
    padding-bottom: 10px;
}

.table td, .table th {
    vertical-align: middle;
}

.EditBtn {
    margin: 0.075rem;
}

.updateConfirmIcon, .updateCancelItcon {
    display: inline-flex;
    margin: 12% 0 0 1%;
    cursor: pointer;
}

.BrowseLocationsLink, .ChangeDateLink {
    margin: -20px -14px 0 0;
    width: fit-content;
    float: right;
}

.CreateMovementsLink {
    display: contents;
}
.newProductIcon {
    margin-right: 10%;
}
